@font-face {
  font-family: 'Bebas Neue';
  src:url('../fonts/BebasNeue Bold.ttf') format('truetype');
}


.poster{
  position: absolute;
  outline: 1px solid #000;
  width: 450px;
  height: 695px;
  overflow: hidden;
  background-color: #282828;
}
.img{
  position: absolute;
}
.blue-1{
  position: absolute;
  width: 820px;
  height: 90px;
  background-color: #1fa0a3;
  transform-origin: left top;
  transform: rotate(45deg);
  margin-top: 145px;
  margin-left: 1px;
}
.blue-2{
  position: absolute;
  transform-origin: left top;
  width: 610px;
  height: 85px;
  background-color: #26bbbf;
  transform: rotate(45deg);
  margin-top: 265px;
}
.blue-3{
  position: absolute;
  width: 820px;
  height: 128px;
  background-color: #1d8787;
  transform-origin: left bottom;
  transform: rotate(-45deg);
  margin-top: 555px;
}

.text2{
  position: absolute;
  font-family: 'Bebas Neue';
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  margin-top: 6px;
  margin-left: 70px;
}
.text3{
  position: absolute;
  width: 100px;
  height: 24px;
  color: #fff;
  font-size: 20px;
  font-family: 'Bebas Neue';
  font-weight: 700;
  transform: rotate(-90deg);
  transform-origin: right top;
  margin-top: -22px;
  margin-left: 200px;
}
.text4{
  position: absolute;
  width: 541px;
  color: #FFF;
  font-size: 63px;
  font-weight: 700;
  text-align: center;
  font-family: 'Bebas Neue';
  padding-top: 10px;
}
.text5{
  position: absolute;
  width: 512px;
  text-align: center;
  color: #FFF;
  font-size: 60px;
  font-family: 'Bebas Neue';
  margin-top: 70px
}
.text6{
  position: absolute;
  width: 200px;
  text-align: left;
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 25px;
  font-weight: 700;
  transform: rotate(-45deg);
  transform-origin: right top;
  margin-top: 150px;
  margin-left: 110px;
}
.text7{
  position: absolute;
  text-align: left;
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 300;
  transform: rotate(-45deg);
  transform-origin: right top;
  margin-top: 160px;
  margin-left: 105px;
}
.text8{
  position: absolute;
  text-align: left;
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 26px;
  font-weight: 300;
  transform: rotate(-45deg);
  transform-origin: right top;
  margin-top: 260px;
  margin-left: 192px;
}


